*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #E5E7EB;
}

body{
    background-image: url("resources/Background_image.svg");
    background-color: #121826;
    padding: 3rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.top p{
    color: #9DA3AE;
    margin-top: 1rem;
    font-size: 0.875rem;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-top: 3rem;
}

.content{
    background-color: #212936;
    border-radius: 12px;
    max-width: 320px;
    padding: 1rem;
}

span{
    font-size: 1.2rem;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
}

.touchpoint{
    background-color: #FCEED8;
}

.goal{
    background-color: #DEE9FC;
}

.feedback{
    background-color: #FBE5E6;
}

.content h2{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0;
}

.content p{
    margin-bottom: 1rem;
    color: #D2D5DA;
    font-size: 1rem;
    font-weight: 400;
    width: 80%;
}

img{
    height: 200px;
    width: 100%;
    border-radius: 14px;
}


@media (max-width: 375px){
    body{
        display: flex;
        flex-direction: column;
    }

    .top{
        width: 90%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
}
